<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>


    </style>
</head>
<body>
    <%-include('./css/adminpagecss.ejs') %>
    <nav>
        <div class="heading">
            <h4> SALES PERSON  Manager Page </h4>   
        </div>  
        <ul class="nav-links">
            <li><a  href="./adminpage">Add Product</a></li>
            <li><a   href="./update_product">Update Product</a></li>
            <li><a href="./selled">Selled </a></li>
            <li>
            <div class="dropdown">
                <img src="img/user.png" alt="User_" width="50" height="50" class="dropbtn" 
                style="opacity: 0.5;">
                <div class="dropdown-content">
                <a href="./changepassword">Change password</a>
                <a href="#">change profile photo</a>
                </div>
            </li>
        </ul>
  </nav>
    <div style=" position:fixed; border: 1cm;
                background-color: rgb(76, 78, 81);
                width: 600px; height: 600px;
                left: 30% ;top:10%;
                ">
        <form action="">
            <p style="  position : absolute ;
                        color: rgb(221, 212, 212);
                        left: 20%;
                        top: 10%;
                        "> Oldpassword : </p>
            <br>
            <input type="Number" name="id" id="id"
                    style="position : absolute ;
                    color: white;
                    left: 40%;
                    top: 10%;"
                    required>
        </form>
        <form action="">
            <p style="  position : absolute ;
                        color: rgb(221, 212, 212);
                        left: 20%;
                        top:30%;
                        "> Newpassword : </p>
            <br>
            <input type="Number" name="id" id="id"
                    style="position : absolute ;
                    color: white;
                    left: 40%;
                    top: 30%;"
                    required>
        </form>
        <form action="">
            <p style="  position : absolute ;
                        color: rgb(221, 212, 212);
                        left: 20%;
                        top: 60%;
                        ">confirmpassword  : </p>
            <br>
            <input type="Number" name="id" id="id"
                    style="position : absolute ;
                    color: white;
                    left: 40%;
                    top: 60%;"
                    required>
        </form>

    </div>
    <div style=" position:fixed; border: 1cm;
    background-color: rgb(76, 78, 81);
    width: 300px; height: 200px;
    left: 10% ;top:10%;
    ">
<form action="">
<p style="  position : absolute ;
            color: rgb(42, 12, 12);
            left: 20%;
            top: 10%;
            "> ID : </p>
<br>
<input type="Number" name="id" id="id"
        style="position : absolute ;
        color: white;
        left: 40%;
        top: 10%;"
        required>
</form>

</div>
</body>
</html>